*{
    margin: 0;
    padding: 0;
}

body{ 
    background-image:url("../images/desktop.png");
    background-color: rgba(255,0,0,0.5);
   
}

.container{
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
}

.part1{
    text-align: center;
    margin-top: 3rem;
    padding: 5rem 1rem 2rem 1rem;
    align-items: center;
}

.part2{
    margin-top: 1rem;
    text-align: center;
    padding: 2rem 8rem 2rem 8rem;
    align-items: center;
}

.botao{
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background: hsl(248, 32%, 49%);
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    text-shadow: none;
}

.botao:hover{
    background: hsl(248, 54%, 63%);
}
button.botao span:hover{
    background: hsl(248, 54%, 63%);
}


.submit{
    width: 100%;
    padding: 0.5rem;
    background: hsl(154, 59%, 51%);
    color: #fff;
    border: none;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.submit:hover{
background: hsl(154, 79%, 63%);
}

.part2 button :hover{
    background: hsl(249, 10%, 26%);
}

#text-right{
    padding-top: 10rem;
}

.formulario{
    width: 100%;
    background: #fff;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

footer{
    font-size: 0.6rem;
}

h1{
    margin-left: 1rem;
    text-align: center;
    width: 80%;
    font-weight: bold;
    color: #fff;
}

p{
    text-align: left;
    color: #fff;
}

::placeholder{
    font-weight: bold;
    font-size: 0.6rem;
}

a{
    color: hsl(0, 91%, 46%);
    font-weight: bold;
    text-decoration: none;
}

.form-control {
    align-items: center;
    margin-bottom: 0.6rem;
    padding-bottom: 1.8rem;
    position: relative;
    border: none;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.6rem;
    outline-color: hsl(246, 25%, 77%);
    
  }

  .form-control i {
    position: absolute;
    top: 1.25rem;
    right: 1.12rem;
    visibility: hidden;
  }
  
  .form-control small {
    position: absolute;
    width: 100%;
    left: 0.06rem;
    font-size: 0.75rem;
    font-style: italic;
    visibility: hidden;
    
  }

/*estilo de success e error*/

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }

@media screen and (max-width: 500px){

    h1{
        text-align: center;
        margin-left: 3rem;
    }
    
    p{
        text-align: left;
        padding-left: 1.5rem;
        width: 100%;
    }

}
