*{
    margin: 0;
    padding: 0;
}

body{ 
    background-image:url("../images/desktop.png");
    background-color: rgba(255,0,0,0.5);
   
}

.container{
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
}

/*.col-sm-12{
    text-align: center;
    padding: 5rem 8rem 2rem 8rem;
    align-items: center;
    border: 1px solid green;
}*/

.part1{
    text-align: center;
    margin-top: 3rem;
    padding: 5rem 1rem 2rem 1rem;
    align-items: center;
}

.part2{
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 8rem 2rem 8rem;
    align-items: center;
}

.botao{
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background: hsl(248, 32%, 49%);
    color: #fff;
    border-radius: 0.5rem;
    border: none;
}

.botao:hover{
    background: hsl(248, 54%, 63%);
}


.submit{
    width: 100%;
    background: hsl(154, 59%, 51%);
    color: #fff;
    border: none;
}

.submit:hover{
background: hsl(154, 79%, 63%);
}

.part2 button :hover{
    background: hsl(249, 10%, 26%);
}

#text-right{
    padding-top: 10rem;
}

.formulario{
    width: 100%;
    background: #fff;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 1rem;
}

footer{
    font-size: 10px;
}

h1{
    margin-left: 1rem;
    text-align: center;
    width: 80%;
    font-weight: bold;
    color: #fff;
}

p{
    text-align: left;
    color: #fff;
}

::placeholder{
    font-weight: bold;
    font-size: 10px;
}

a{
    color: hsl(0, 91%, 46%);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 500px){

    h1{
        text-align: center;
        margin-left: 3rem;
    }
    
    p{
        text-align: left;
        padding-left: 1.5rem;
        width: 100%;
    }

}

/*
@media screen and (max-width: 375px){
    .col-md-7{
        padding: 0 5rem;
        border: 1px solid red;
    }

    .col-md-5{
        padding: 0;
        border: 1px solid red;
    
    }

    #text-right{
        padding: 1rem 5rem;
    }
}*/